<div class="profile-page">
  <h1><%= @user.username %>'s Profile</h1>
</div>

<% if logged_in? && @user.id == current_user.id %>
  <br>
  <%= link_to 'Edit Profile', edit_user_path(@user), :class => 'edit-profile' %>
<% end %>
