/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
 *= require font-awesome
 */

body {
   font-family: sans-serif;
   background-color: #f0f0f0;
   margin: 0;
 }

 a {
   text-decoration: none;
 }

 nav {
   background-color: black;
   height: 40px;
   padding: 16px;
 }

 nav a {
   font-size: 18px;
   font-weight: bold;
   margin: 30px;
   color: #f0f0f0;
   background-color: black;
 }

 .home h1, .series-content h1, .users-index h1 {
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 70px;
  margin: 10px;
}

 .home img {
  border-radius: 10px;
  border: 8px solid black;
  margin: 10px;
}

.series-content a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}

.series-content a:hover {
  color: #001626;
}

.series-content h2 {
  background-color: #000d14;
  display: inline-block;
  padding: 10px;
  color: #e0e0e0;
  margin: 30px 30px;
  border-radius: 8px;
}

.series-content h2:hover {
  color: white;
  cursor: pointer;
}

/* User Form */
.form-label {
  font-size: 18px;
  margin-top: 10px;
  display: block;
}

.form-text-box {
  font-size: 16px;
  margin-top: 10px;
  width: 200px;
  height: 28px;
  background-color: white;
  display: block;
}

.form-submit-box {
  font-size: 20px;
  margin-top: 20px;
  background-color: black;
  padding: 14px;
  border-radius: 8px;
  color: #f0f0f0;
  border: none;
  display: block;
}

.sign-up, .login {
  padding: 10px 30px;
  background-color: #f0f0f0;
  width: 300px;
}

.sign-up a, .login a {
  color: green;
}

.google a {
  background-color: #4285f4;
  color: white;
  font-size: 16px;
  padding: 14px;
  border-radius: 8px;
  border: none;
}

.google img {
  background-color: white;
  width: 20px;
  height: 20px;
  padding: 2px;
}

.sign-up p, .login p {
  padding: 0 50px;
}

.error_explanation {
  color: red;
  text-transform: capitalize;
}

/* Responsive Navigation */

.navigation .icon {
  display: none;
  margin-top: 8px;
}

.navigation .icon i {
  color: #f0f0f0;
}

@media screen and (max-width: 800px) {
  .navigation a {display: none;}
  .navigation a.icon {
    display: block;
  }
}

@media screen and (max-width: 800px) {

  .navigation.responsive {
    background-color: black;
    position: relative;
    height: 280px;
  }

  .navigation.responsive a {
    display: block;
    border-top: 1px solid white;
    width: 160px;
    padding: 4px;
    text-align: center;
  }

  .navigation.responsive .icon {
    margin-top: 10px;
    border-top: none;
  }
}
